/clr_tcp_txt/.vs
/clr_tcp_txt/clr_tcp/bin
/clr_tcp_txt/clr_tcp/obj
/clr_tcp_txt/clr_tcp_txt/obj
/clr_tcp_txt/clr_tcp_txt/bin
/clr_tcp_txt/clrlibs/obj
/clr_tcp_txt/clrlibs/bin
/clr_tcp_txt/clr_json_tcp/bin
/clr_tcp_txt/clr_json_tcp/obj
/mssql_nodejs/node_modules
